@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:ital,wght@1,500&display=swap');
@font-face {
    font-family:"Roboto-Regular"; 
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

*{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    background-color: black;
    height: 7vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}
.nav ul li{
    padding:2vh 4vh;
}
.gamingContaner{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.playground{
    font-family: "Roboto-Regular", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    position: relative;

}
.box{   
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(230, 208, 250);
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-info h1{
    font-family: 'Kablammo', cursive;
    padding:0px 34px;
}
.info{
    font-family: 'Kablammo', cursive;
    padding:0px 34px;
}
#img{
    width: 0;
    transition: ease-in-out 1s;
}

.br-0{
    border-right: 0;
}
.bt-0{
    border-top:0;
}
.bl-0{
    border-left:0 ;
}
.bb-0{
    border-bottom: 0;
}
#btn{
    height:5vh;
    width: 11vh;
    margin: 10px 0px 0px 14px;
    background-color: green;
    color: white;
    font-family:'Kablammo', cursive ;
}
.win{
    display:flex;
    align-items: center;
}
.line{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    left:0;
    transition:ease-in-out 1s ;
}
@media screen and (max-width: 738px) {
    .gamingContaner{
        flex-wrap: wrap;
    }
    .game-info{
        margin-top: 32px;
    }
    .game-info h1{
        font-size: 1.5rem;

    }
    .playground{

        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);

    }

}